<div class="container">
  <div class="row">
    <div class="col-md-2">
      <div class="sidebar">
        <h5>ジャンル検索</h5>
          <% @genres.each do |genre| %>
            <%= link_to genre.name, recipes_path(genre_id: genre.id) %>
          <% end %>
      </div>
    </div>


    <div class="col-md-10">
      <div class="title">
        <% if params[:genre_id] %>
        	<h2><%= @genre.name %>レシピ (<%= @all_recipes_count %>)</h2>
        <% elsif params[:tag_id] %>
          <h2><%= @recipe_tag %>レシピ(<%= @all_recipes_count %>)</h2>
        <% else %>
        	<h2>全レシピ (<%= @all_recipes_count %>)</h2>
        <% end %>
      </div>

      <% @recipes.each do |recipe| %>
        <div class="items">
          <%= link_to recipe_path(recipe.id) do %>
            <%= attachment_image_tag recipe,:recipe_image, size:"240x310", fallback: "no_image.jpg" %>
            <h5><%= recipe.name %></h5>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
<%= paginate @recipes %>