<div class="container">
  <div class="row">
    <div class="recipe-headding  mb-3">
      <h1><%= @recipe.name %></h1>
    </div>
  </div>

  <div class="row mb-5">
    <div class="col-md-5">
      
      <%= link_to recipe_path(@recipe.id) do %>
        <%= attachment_image_tag @recipe,:recipe_image, size:"400x450",  fallback: "no_image.jpg" %>
      <% end %>
    </div>

    <div class="col-md-3">
      <div class="recipe-ingredients">
        <h3>Ingredients</h3>
          <%=safe_join(@recipe.ingredient.split("\n"),tag(:br))%>
      </div>
    </div>

    <div class="col-md-4">
      <div class="recipe-details">
        
        <div class="recipe-detail-serves">
          <span class="detail">
            <%= @recipe.serve%>人分
          </span>
        </div>

        <div class="recipe-detail-serves">
          <span class="detail">
            調理時間
          </span>
          <%= @recipe.cooking_time %>
        </div>

        <div class="recipe-detail-serves">
          <span class="detail">
            難易度
          </span>
          <!--ここに難易度の星追加-->
        </div>

        <div class="tag-list">
          <h6>Tags</h6>
            <% @recipe.recipe_tags.each do |recipe_tag| %>
              <%= link_to recipe_tag.tag.tag_name, recipes_path(tag_id: recipe_tag.tag.id) %>
            <% end %>
        </div>

        <div class="memo mb-5">
          <h4>Memo</h4>
            <%= @recipe.memo %>
        </div>
        
      </div>


        <%= link_to "Edit", edit_recipe_path, class:"btn btn-sm btn-primary" %></td>
        <%= link_to "Destroy", recipe_path(@recipe),method: :delete, class:"btn btn-sm btn-primary", "data-confirm" =>"本当に消しますか?" %>
      </div>
    </div>

    <div class="mt-3">
      <div class="method mb-3">
        <h3>Method</h3>
          <%=safe_join(@recipe.method.split("\n"),tag(:br))%>
      </div>
    </div>

  </div>
</div>