<div class="home-visual">
  <div class="home-visual-content">
    <p class="home-visual-text">
       Welcome back<br/>
       <%= current_user.name %>さん
    </p>
  </div>
</div>

<div class="container mt-5">
  <div class="row">
    <div class="col-md-4 menu-box">
      <div class="index-button">
        <%= link_to "レシピを追加", new_recipe_path, class: "btn-circle-flat" %>
      </div>
      </div>
      <div class="col-md-4 menu-box">
        <% @random_recipes.each do |random_recipe| %>
          <%= link_to "今日は何作る？", recipe_path(random_recipe.id), class: "btn-circle-flat" %>
        <% end %>
      </div>
      <div class="col-md-4 menu-box">
        <%= link_to "ジャンルで探す", recipes_path, class: "btn-circle-flat" %>
      </div>
  </div>

  <div class="row mt-5">
    <div class="col-md-12">
      <div class="top5 mb-3">
        <h3>閲覧数 Top 5</h3>
      </div>
      <div class="sliderArea">
        <div class="item-image-slide slider">
          <% @recipes.each do |recipe| %>
            <%= link_to recipe_path(recipe.id) do %>
              <%= attachment_image_tag recipe,:recipe_image, size: "300x400", fallback: "no_image.jpg" %>
              <h5><%= recipe.name %></h5>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
