<div class="container mt-5">
  <div class="row">
    <div class="col-md-12">
      <h3>My page</h3>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-md-5">
      <h4>プロフィール</h4>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>名前</th>
            <td><%= current_user.name %></td>
          </tr>
          <tr>
            <th>Email</th>
            <td><%= current_user.email %></td>
          </tr>
        </thead>
      </table>

      <h4>データ</h4>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>総レシピ数</th>
            <td><%= @all_recipes_count%></td>
          </tr>
          <tr>
            <th>お気に入りレシピ数</th>
            <td><%= @favorite_recipes_count %></td>
          </tr>
        </thead>
      </table>
    </div>

    <!--ジャンル別円グラフ-->
    <div class="col-md-6">
      <div class="chart">
        <%= pie_chart @array, colors: ["#EAC879", "#E0E0D5", "#BBAAA1", "#E98291", "#B5BBD1", "#F3EFF0", "#644F4D", "#ECDECC", "#AAC7B0", "#92C8DC"] %>
      </div>
    </div>
  </div>

  <!--退会機能-->
  <div class="row">
    <div class="col-md-3">
      <%= link_to '退会する', confirm_unsubscribe_path, class:'btn btn-primary ml-5' %>
    </div>
  </div>
</div>