<div class="container mt-5">
  <div class="row">
    <h3>My page</h3>
  </div>
  
  <div class="row mt-4">
    <div class="col-md-3">
      <h4>プロフィール</h4>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>名前</th>
            <td><%= current_user.name %></td>
          </tr>
          <tr>
            <th>Email</th>
            <td><%= current_user.email %></td>
          </tr>
      </table>

      <h4>データ</h4>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>総レシピ数</th>
            <td><%= @all_recipes_count%></td>
          </tr>
          <tr>
            <th>お気に入りレシピ数</th>
            <td><%= @favorite_recipes_count %></td>
          </tr>

      </table>
    </div>

    <div class="row mx-auto">
      <div class="chart">
        <%= pie_chart @array, colors: ["#F7D3BA", "#A6AA9C", "#E6E7E5"] %>
      </div>
    </div>

  </div>
  <%= link_to '退会する', confirm_unsubscribe_path, class:'btn btn-primary ml-5' %>
</div>