<!DOCTYPE html>
<html>
  <head>
    <title>Sugarist</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg">
        <div class= "container">
          <h2><%= link_to 'Sugarist', root_path, class: 'nav-link text-dark logo' %></h2>
          <ul class="navbar-nav ml-auto">
              <% if user_signed_in? %>
              <li>
                <%= link_to "Home", users_path, class: "nav-link text-dark" %>
              </li>
              <li>
                <%= link_to "Recipes", recipes_path, class: "nav-link text-dark" %>
              </li>
              <li>
                <%= link_to "New Post", new_recipe_path, class: "nav-link text-dark" %>
              </li>
              <li>
                <%= link_to "My page", user_path(current_user.id), class: "nav-link text-dark" %>
              </li>
              <li>
                <%= link_to "Sign out", destroy_user_session_path, method: :delete, class: "nav-link text-dark" %>
              </li>
            <% else %>
              <li>
                <%= link_to "Home", root_path, class: "nav-link text-dark" %>
              </li>
              <li>
                <%= link_to "About", about_path, class: "nav-link text-dark" %>
              </li>
              <li>
                <%= link_to "Sign up", new_user_registration_path, class: "nav-link text-dark" %>
              </li>
              <li>
                <%= link_to "Sign in", new_user_session_path, class: "nav-link text-dark" %>
              </li>
            <% end %>
          </ul>
        </div>
      </nav>
    </header>


    <%= yield %>

    <footer>
      <p class="footer-text">Sugarist</p>
    </footer>
  </body>
</html>
