<!DOCTYPE html>
<html>
  <head>
    <title>Sugarist</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">

  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-light">
        <h2><%= link_to 'Sugarist', root_path, class: 'nav-link text-dark logo' %></h2>
        <button class="navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-target="#navbarTogglerDemo02"
                aria-controls="navbarTogglerDemo02"
                aria-expanded="false"
                aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
          <ul class="navbar-nav ml-auto ">
              <% if user_signed_in? %>
              <li class="nav-item ">
                <%= link_to "Home", users_path, class: 'fas fa-home nav-link text-dark' %>
              </li>
              <li class="nav-item">
                <%= link_to "Recipes", recipes_path, class: "fas fa-book-open nav-link text-dark" %>
              </li>
              <li class="nav-item">
                <%= link_to "New Post", new_recipe_path, class: "fas fa-pen nav-link text-dark" %>
              </li>
              <li class="nav-item">
                <%= link_to "My page", user_path(current_user.id), class: "fas fa-user nav-link text-dark" %>
              </li>
              <li class="nav-item">
                <%= link_to "Sign out", destroy_user_session_path, method: :delete, class: "fas fa-sign-out-alt nav-link text-dark" %>
              </li>
            <% else %>
              <li class="nav-item">
                <%= link_to "Home", root_path, class: "fas fa-home nav-link text-dark" %>
              </li>
              <li class="nav-item">
                <%= link_to "About", about_path, class: "fas fa-link nav-link text-dark" %>
              </li>
              <li class="nav-item">
                <%= link_to "Sign up", new_user_registration_path, class: "fas fa-user-plus nav-link text-dark" %>
              </li>
              <li class="nav-item">
                <%= link_to "Sign in", new_user_session_path, class: "fas fa-sign-in-alt nav-link text-dark" %>
              </li>
            <% end %>
          </ul>
        </div>
      </nav>
    </header>

    <% flash.each do |key, value| %>
      <%= content_tag(:div, value, class: "#{key}") %>
    <% end %>
    <%= yield %>

    <footer>
      <p class="footer-text">© 2021 Yukino Shinji</p>
    </footer>
  </body>
</html>
